<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Dustjs</string>
	<key>uuid</key>
	<string>520ACC77-DC7B-4284-9C52-0266608FDC77</string>
</dict>
</plist>
